<div class="container">
    <div class="row">
        <div class="col-md-12 test-center">
            <h2>Employees</h2>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Employee&nbsp;Num</th>
                            <th>Full&nbsp;Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>Course ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each employees}}
                        <tr>
                            <td>{{employeeNum}}</td>
                            <td>{{firstName}} {{lastName}}</td>
                            <td><a href="mailto:{{email}}">{{email}}</a></td>
                            <td>{{addressStreet}} {{addressCity}} {{addressProvince}}</td>
                            <td>{{status}}</td>
                            <td>{{course}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
